/* UH Website CSS */
/* 2020-05-01  */
/*#region NAV, FONTS & HEADER */
/*----------  NAV hide top page in Folder dropdowns  ----------*/
.Header-nav-folder :nth-child(1),
div.Mobile-overlay-folder :nth-child(2) {
  display: none !important;
}
/* Fix font flicker on load (from silvabokis.com) */
body {
  animation: fade-me-in 1.5s;
}
@keyframes fade-me-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* DEFINE page name variables instead of collection id */
/* DEFINE UH Brand Colour variables */
/* CUSTOM FONTS */
@font-face {
  font-family: 'Notera';
  src: url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5dd571e426591d0da6e5feda/1574269412456/Notera.woff2') format('woff2'), url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5dd571dfd8f6e70a23740916/1574269407854/Notera.woff') format('woff');
}
@font-face {
  font-family: 'Notera2Thin';
  src: url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5e39b0300934747943124a00/1580838960090/Notera2Thin.woff2') format('woff2'), url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5e39b02aa0af01453b5d92aa/1580838954298/Notera2Thin.woff') format('woff');
}
h5 {
  font-family: 'Notera';
  font-size: 3.5em;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0em;
  line-height: 0.8em;
  margin-top: 0.25em;
  margin-bottom: 0em !important;
  text-transform: none;
}
/*============================================================
=            HIGHLIGHTER effect on h2 bold-italic            =
============================================================*/
h2 strong,
h2 strong em {
  font-style: initial !important;
  font-weight: inherit !important;
  background: linear-gradient(to top, hsl(48, 100%, 80%) 45%, hsla(0, 0%, 100%, 0) 45%);
}
h2 strong {
  background: linear-gradient(to top, hsl(163, 55%, 85%) 45%, hsla(0, 0%, 100%, 0) 45%);
}
#personal-statement h2 strong em {
  background: linear-gradient(to top, hsl(48, 100%, 68%) 45%, hsl(0, 0%, 96%) 45%);
}
/* Fix h2 Sqr reduction of letterspacing on mobile */
@media screen and (max-width: 640px) {
  h2 {
    letter-spacing: 0.08em;
  }
}
/*=====  End of HIGHLIGHTER effect on h2 bold-italic  ======*/
/*==============================
=            HEADER            =
==============================*/
/*----------  HEADER margin fix  ----------*/
.Header-inner--top {
  padding-bottom: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
}
/*----------  MOBILE HEADER  ----------*/
/* .Mobile-bar--top {
		-webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
		-moz-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
		box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
		padding-bottom: 0px !important;
	} */
.Mobile-bar-branding,
.Mobile-bar-search,
.Mobile-bar-menu,
.Mobile-bar .Cart {
  padding-bottom: 0px;
}
/*=====  End of HEADER  ======*/
/*#endregion NAV, FONTS & HEADER */
/*#region NEW HOME INDEX PAGE*/
/*===========================================
=            NEW HOME INDEX PAGE            =
===========================================*/
#collection-5df17ac89146e02844b3ee1a .Index {
  background-color: #fff !important;
}
/*----------  NO Hyphenation on index page text  ----------*/
.Index-page--has-image {
  hyphens: none !important;
  -webkit-hyphens: none !important;
  -ms-hyphens: none !important;
}
/*----------  Set differentiated BACKGROUND COLORS  ----------*/
#personal-statement {
  background-color: hsl(0, 0%, 96%) !important;
}
#testimonials {
  background-color: hsl(164, 37.3%, 49.4%) !important;
}
/*----------  H1 - FONT change for a few Index Pages  ----------*/
#personal-statement h1,
#featured-products h1,
#testimonials h1,
#featured-blog-posts h1,
#newsletter-sign-up h1 {
  font-family: haboro-soft;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2em;
}
/*=====  End of NEW HOME INDEX PAGE  ======*/
/*======================================
=            WELCOME BANNER            =
======================================*/
/* Text transformation & Font Colours */
#welcome-banner p {
  font-size: 1.33em;
  line-height: 1.6em;
  color: white;
  margin-top: -1em !important;
}
#welcome-banner h5 {
  font-size: 5.25em;
  text-transform: none;
  color: white;
}
#welcome-banner .Index-page-content.sqs-alternate-block-style-container {
  padding-bottom: 0;
}
/*----------  Mobile Only  ----------*/
@media only screen and (max-width: 640px) {
  #welcome-banner {
    font-size: 0.9em;
  }
  #welcome-banner {
    padding-right: 38vw;
  }
}
/*=====  End of WELCOME BANNER  ======*/
/*============================================================================
=            PERSONAL-STATEMENT "I'm Living Proof That..." Banner            =
============================================================================*/
#personal-statement h2 {
  font-size: 3.25em;
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  hyphens: none !important;
  -webkit-hyphens: none !important;
  -ms-hyphens: none !important;
}
/* Reduce h2  on mobile */
@media screen and (max-width: 640px) {
  #personal-statement h2 {
    font-size: 2.5em !important;
    letter-spacing: 0.0675em;
  }
}
/*=====  End of PERSONAL-STATEMENT "I'm Living Proof That..." Banner  ======*/
/*=========================================
=            FEATURED PRODUCTS            =
=========================================*/
/*----------  FEATURED PRODUCTS - Link styles  ----------*/
#featured-products div.image-caption p {
  margin: 0.5em 0 0 0;
}
#featured-products div.image-caption,
#featured-products div.image-caption a,
#featured-products div.image-caption strong,
#featured-products div.image-caption a strong {
  font-family: haboro-soft-extended;
  color: #545454;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: none;
  text-decoration: none;
}
#featured-products div.image-caption strong,
#featured-products div.image-caption a strong {
  font-family: haboro-soft-condensed;
  font-weight: 600;
  letter-spacing: 0.12em;
}
#featured-products div.image-caption p,
#featured-products div.image-caption p a {
  font-size: 11px !important;
  color: #737373;
}
@media screen and (max-width: 640px) {
  #featured-products .sqs-block.sqs-block-image,
  #featured-products .sqs-block-markdown,
  #featured-products .sqs-block-html h3,
  #featured-products .sqs-block-html p {
    margin-left: 20px;
    margin-right: 20px;
    hyphens: none !important;
    -webkit-hyphens: none !important;
    -ms-hyphens: none !important;
  }
}
/*=====  End of FEATURED PRODUCTS  ======*/
/*=====================================================
=            FEATURED JOURNAL POST INDEX SECTION         =
=====================================================*/
#featured-blog-posts .sqs-block.image-block.sqs-block-image.sqs-text-ready {
  padding-bottom: 0 !important;
}
#featured-blog-posts div.markdown-block {
  padding-top: 0.825em;
  padding-bottom: 0em;
}
#featured-blog-posts div h3,
#featured-blog-posts div h3 a {
  margin-top: -9px;
  margin-bottom: 0px;
}
#featured-blog-posts div.sqs-block-content p,
#featured-blog-posts div.sqs-block-content p a {
  margin-top: 0.65em;
}
#featured-blog-posts h3 a,
#featured-blog-posts p a {
  border: none;
}
#featured-blog-posts h3,
#featured-blog-posts h3 a {
  font-family: haboro-soft-condensed;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.12em;
}
#featured-blog-posts p,
#featured-blog-posts p a {
  font-size: 14px;
}
#featured-blog-posts div.markdown-block h6,
#featured-blog-posts div.markdown-block h6 a {
  text-transform: uppercase;
  font-family: haboro-soft !important;
  font-size: 10px !important;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: rgba(29, 29, 29, 0.4);
  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
#featured-blog-posts div.markdown-block h6 a:hover {
  color: rgba(29, 29, 29, 0.2);
}
#featured-blog-posts div .row .sqs-block-html p:nth-child(1) {
  padding-top: 0.5rem !important;
  padding-bottom: 0.3rem !important;
  margin-top: -9px !important;
}
#featured-blog-posts div .row .sqs-block-html p:nth-child(1),
#featured-blog-posts div .row .sqs-block-html p:nth-child(1) a {
  text-transform: uppercase !important;
  font-family: haboro-soft !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  letter-spacing: 0.1em !important;
  color: rgba(29, 29, 29, 0.4) !important;
  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
#featured-blog-posts div .row .sqs-block-html p:nth-child(1) a:hover {
  color: rgba(29, 29, 29, 0.2) !important;
}
@media screen and (max-width: 640px) {
  #featured-blog-posts .sqs-block.sqs-block-image,
  #featured-blog-posts .sqs-block-markdown,
  #featured-blog-posts .sqs-block-html h3,
  #featured-blog-posts .sqs-block-html p {
    margin-left: 20px;
    margin-right: 20px;
    hyphens: none !important;
    -webkit-hyphens: none !important;
    -ms-hyphens: none !important;
  }
}
/*=====  End of FEATURED JOURNAL POST INDEX SECTION  ======*/
/*#endregion NEW HOME INDEX PAGE*/
/*#region IMAGE CARDS */
/*===================================
=            IMAGE-CARDS            =
===================================*/
/*----------  Background colour for selected image cards  ----------*/
#value-statement .image-card-wrapper,
#services-banner .image-card-wrapper,
#collection-5e1e35322ee5903aac1cf3c5 .image-card-wrapper,
#collection-5e1e3b0dea1c913c8b171986 .image-card-wrapper {
  background: hsl(0, 0%, 96%) !important;
}
/* Image Card 3rd Font Title (Notera2Thin) */
div.image-title p strong {
  display: block;
  font-family: 'Notera2Thin' !important;
  font-size: 1.4em !important;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0em;
  line-height: 0.7em !important;
  text-transform: none;
  margin-bottom: 0.25em;
}
#value-statement div.image-subtitle p,
#services-banner div.image-subtitle p {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
/*----------  IMAGE-CARDS ON HOMEPAGE Section Padding   ----------*/
#value-statement div.Index-page-content,
#services-banner div.Index-page-content {
  padding: 0;
}
#value-statement .design-layout-card .image-card,
#services-banner .design-layout-card .image-card {
  padding: 3em 0;
}
/*----------  IMAGE-CARDS ON SUBPAGES Section Padding  ----------*/
#collection-5e1e35322ee5903aac1cf3c5 section.Main-content,
#collection-5e1e3b0dea1c913c8b171986 section.Main-content {
  padding-left: 0;
  padding-right: 0;
}
#collection-5e1e35322ee5903aac1cf3c5 .sqs-block-image,
#collection-5e1e3b0dea1c913c8b171986 .sqs-block-image,
#collection-5e1e35322ee5903aac1cf3c5 .sqs-block-image-figure,
#collection-5e1e3b0dea1c913c8b171986 .sqs-block-image-figure {
  padding-left: 0;
  padding-right: 0;
}
/*----------  Desktop & Tablet only - CARD TEXT: widen L&R padding  ----------*/
@media screen and (min-width: 641px) {
  #value-statement div.image-title-wrapper,
  #services-banner div.image-title-wrapper,
  #value-statement div.image-subtitle-wrapper,
  #services-banner div.image-subtitle-wrapper,
  #value-statement div.image-button-wrapper,
  #services-banner div.image-button-wrapper {
    padding-left: 18%;
    padding-right: 18%;
  }
}
/*----------  Force An Image Card to Stack on Mobile & tablet  ----------*/
@media screen and (max-width: 850px) {
  .sqs-block-image .design-layout-card:not(.sqs-narrow-width) {
    display: block !important;
  }
  .sqs-block-image .design-layout-card:not(.sqs-narrow-width) figcaption.image-card-wrapper {
    width: 100% !important;
  }
  .sqs-block-image .design-layout-card:not(.sqs-narrow-width) > div:nth-child(1) {
    width: 100% !important;
  }
  #value-statement .image-card-wrapper,
  #services-banner .image-card-wrapper,
  #collection-5e1e35322ee5903aac1cf3c5 .image-card-wrapper,
  #collection-5e1e3b0dea1c913c8b171986 .image-card-wrapper {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}
/*=====  End of IMAGE-CARDS  ======*/
/*#endregion IMAGE-CARDS */
/*#region SERVICES & BIO PAGES */
/*=============================================
=            SERVICES & BIO PAGES             =
=============================================*/
#collection-5e1e3b0dea1c913c8b171986 div .row.sqs-row,
#collection-5e1e35322ee5903aac1cf3c5 div .row.sqs-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
div #block-4fa84b67d2fef18c03fc,
div #block-a3a5220cc9896ff94759 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 2em;
}
div #block-4fa84b67d2fef18c03fc h2,
div #block-a3a5220cc9896ff94759 h2 {
  margin-bottom: 0;
}
/*=====  End of SERVICES & BIO PAGES  ======*/
/*====================================================================
=            FINAL LANDING PAGES for SERVICES & BIO pages            =
====================================================================*/
#collection-5e4331f5383ee71bf8193c3e div.image-title p em,
#collection-5e433289e1841065260285e6 div.image-title p em,
#collection-5e4333f8f0d10522284cb551 div.image-title p em,
#collection-5e39b9749234572a14d9b8aa div.image-title p em,
#collection-5e39b9a59234572a14d9ca78 div.image-title p em,
#collection-5e43425618e6e3448f09e57f div.image-title p em {
  font-style: initial !important;
  font-weight: inherit !important;
  background: linear-gradient(to top, hsl(48, 100%, 68%) 45%, hsla(0, 0%, 100%, 0) 45%);
}
#collection-5e4331f5383ee71bf8193c3e div.image-title-wrapper,
#collection-5e433289e1841065260285e6 div.image-title-wrapper,
#collection-5e4333f8f0d10522284cb551 div.image-title-wrapper,
#collection-5e39b9749234572a14d9b8aa div.image-title-wrapper,
#collection-5e39b9a59234572a14d9ca78 div.image-title-wrapper,
#collection-5e43425618e6e3448f09e57f div.image-title-wrapper,
#collection-5e4331f5383ee71bf8193c3e div.image-subtitle-wrapper,
#collection-5e433289e1841065260285e6 div.image-subtitle-wrapper,
#collection-5e4333f8f0d10522284cb551 div.image-subtitle-wrapper,
#collection-5e39b9749234572a14d9b8aa div.image-subtitle-wrapper,
#collection-5e39b9a59234572a14d9ca78 div.image-subtitle-wrapper,
#collection-5e43425618e6e3448f09e57f div.image-subtitle-wrapper {
  text-align: left !important;
  padding-right: 0 !important;
}
#collection-5e4331f5383ee71bf8193c3e div #block-yui_3_17_2_1_1588014051745_18899,
#collection-5e433289e1841065260285e6 div #block-yui_3_17_2_1_1588014051745_18899,
#collection-5e4333f8f0d10522284cb551 div #block-yui_3_17_2_1_1588014051745_18899,
#collection-5e39b9749234572a14d9b8aa div #block-yui_3_17_2_1_1588014051745_18899,
#collection-5e39b9a59234572a14d9ca78 div #block-yui_3_17_2_1_1588014051745_18899,
#collection-5e43425618e6e3448f09e57f div #block-yui_3_17_2_1_1588014051745_18899,
#collection-5e4331f5383ee71bf8193c3e div #block-yui_3_17_2_1_1588014513341_6425,
#collection-5e433289e1841065260285e6 div #block-yui_3_17_2_1_1588014513341_6425,
#collection-5e4333f8f0d10522284cb551 div #block-yui_3_17_2_1_1588014513341_6425,
#collection-5e39b9749234572a14d9b8aa div #block-yui_3_17_2_1_1588014513341_6425,
#collection-5e39b9a59234572a14d9ca78 div #block-yui_3_17_2_1_1588014513341_6425,
#collection-5e43425618e6e3448f09e57f div #block-yui_3_17_2_1_1588014513341_6425,
#collection-5e4331f5383ee71bf8193c3e div #block-yui_3_17_2_1_1588014532576_6482,
#collection-5e433289e1841065260285e6 div #block-yui_3_17_2_1_1588014532576_6482,
#collection-5e4333f8f0d10522284cb551 div #block-yui_3_17_2_1_1588014532576_6482,
#collection-5e39b9749234572a14d9b8aa div #block-yui_3_17_2_1_1588014532576_6482,
#collection-5e39b9a59234572a14d9ca78 div #block-yui_3_17_2_1_1588014532576_6482,
#collection-5e43425618e6e3448f09e57f div #block-yui_3_17_2_1_1588014532576_6482,
#collection-5e4331f5383ee71bf8193c3e div #block-35f96be5b7829ad26d17,
#collection-5e433289e1841065260285e6 div #block-35f96be5b7829ad26d17,
#collection-5e4333f8f0d10522284cb551 div #block-35f96be5b7829ad26d17,
#collection-5e39b9749234572a14d9b8aa div #block-35f96be5b7829ad26d17,
#collection-5e39b9a59234572a14d9ca78 div #block-35f96be5b7829ad26d17,
#collection-5e43425618e6e3448f09e57f div #block-35f96be5b7829ad26d17,
#collection-5e4331f5383ee71bf8193c3e div #block-yui_3_17_2_1_1581466152347_4542,
#collection-5e433289e1841065260285e6 div #block-yui_3_17_2_1_1581466152347_4542,
#collection-5e4333f8f0d10522284cb551 div #block-yui_3_17_2_1_1581466152347_4542,
#collection-5e39b9749234572a14d9b8aa div #block-yui_3_17_2_1_1581466152347_4542,
#collection-5e39b9a59234572a14d9ca78 div #block-yui_3_17_2_1_1581466152347_4542,
#collection-5e43425618e6e3448f09e57f div #block-yui_3_17_2_1_1581466152347_4542,
#collection-5e4331f5383ee71bf8193c3e div #block-4176da6257aae14a264d,
#collection-5e433289e1841065260285e6 div #block-4176da6257aae14a264d,
#collection-5e4333f8f0d10522284cb551 div #block-4176da6257aae14a264d,
#collection-5e39b9749234572a14d9b8aa div #block-4176da6257aae14a264d,
#collection-5e39b9a59234572a14d9ca78 div #block-4176da6257aae14a264d,
#collection-5e43425618e6e3448f09e57f div #block-4176da6257aae14a264d {
  padding-bottom: 2em;
}
#collection-5e4331f5383ee71bf8193c3e div #block-yui_3_17_2_1_1588014051745_18899 h2,
#collection-5e433289e1841065260285e6 div #block-yui_3_17_2_1_1588014051745_18899 h2,
#collection-5e4333f8f0d10522284cb551 div #block-yui_3_17_2_1_1588014051745_18899 h2,
#collection-5e39b9749234572a14d9b8aa div #block-yui_3_17_2_1_1588014051745_18899 h2,
#collection-5e39b9a59234572a14d9ca78 div #block-yui_3_17_2_1_1588014051745_18899 h2,
#collection-5e43425618e6e3448f09e57f div #block-yui_3_17_2_1_1588014051745_18899 h2,
#collection-5e4331f5383ee71bf8193c3e div #block-yui_3_17_2_1_1588014513341_6425 h2,
#collection-5e433289e1841065260285e6 div #block-yui_3_17_2_1_1588014513341_6425 h2,
#collection-5e4333f8f0d10522284cb551 div #block-yui_3_17_2_1_1588014513341_6425 h2,
#collection-5e39b9749234572a14d9b8aa div #block-yui_3_17_2_1_1588014513341_6425 h2,
#collection-5e39b9a59234572a14d9ca78 div #block-yui_3_17_2_1_1588014513341_6425 h2,
#collection-5e43425618e6e3448f09e57f div #block-yui_3_17_2_1_1588014513341_6425 h2,
#collection-5e4331f5383ee71bf8193c3e div #block-yui_3_17_2_1_1588014532576_6482 h2,
#collection-5e433289e1841065260285e6 div #block-yui_3_17_2_1_1588014532576_6482 h2,
#collection-5e4333f8f0d10522284cb551 div #block-yui_3_17_2_1_1588014532576_6482 h2,
#collection-5e39b9749234572a14d9b8aa div #block-yui_3_17_2_1_1588014532576_6482 h2,
#collection-5e39b9a59234572a14d9ca78 div #block-yui_3_17_2_1_1588014532576_6482 h2,
#collection-5e43425618e6e3448f09e57f div #block-yui_3_17_2_1_1588014532576_6482 h2,
#collection-5e4331f5383ee71bf8193c3e div #block-35f96be5b7829ad26d17 h2,
#collection-5e433289e1841065260285e6 div #block-35f96be5b7829ad26d17 h2,
#collection-5e4333f8f0d10522284cb551 div #block-35f96be5b7829ad26d17 h2,
#collection-5e39b9749234572a14d9b8aa div #block-35f96be5b7829ad26d17 h2,
#collection-5e39b9a59234572a14d9ca78 div #block-35f96be5b7829ad26d17 h2,
#collection-5e43425618e6e3448f09e57f div #block-35f96be5b7829ad26d17 h2,
#collection-5e4331f5383ee71bf8193c3e div #block-yui_3_17_2_1_1581466152347_4542 h2,
#collection-5e433289e1841065260285e6 div #block-yui_3_17_2_1_1581466152347_4542 h2,
#collection-5e4333f8f0d10522284cb551 div #block-yui_3_17_2_1_1581466152347_4542 h2,
#collection-5e39b9749234572a14d9b8aa div #block-yui_3_17_2_1_1581466152347_4542 h2,
#collection-5e39b9a59234572a14d9ca78 div #block-yui_3_17_2_1_1581466152347_4542 h2,
#collection-5e43425618e6e3448f09e57f div #block-yui_3_17_2_1_1581466152347_4542 h2,
#collection-5e4331f5383ee71bf8193c3e div #block-4176da6257aae14a264d h2,
#collection-5e433289e1841065260285e6 div #block-4176da6257aae14a264d h2,
#collection-5e4333f8f0d10522284cb551 div #block-4176da6257aae14a264d h2,
#collection-5e39b9749234572a14d9b8aa div #block-4176da6257aae14a264d h2,
#collection-5e39b9a59234572a14d9ca78 div #block-4176da6257aae14a264d h2,
#collection-5e43425618e6e3448f09e57f div #block-4176da6257aae14a264d h2 {
  margin-bottom: 0;
}
#collection-5e4331f5383ee71bf8193c3e blockquote,
#collection-5e433289e1841065260285e6 blockquote,
#collection-5e4333f8f0d10522284cb551 blockquote,
#collection-5e39b9749234572a14d9b8aa blockquote,
#collection-5e39b9a59234572a14d9ca78 blockquote,
#collection-5e43425618e6e3448f09e57f blockquote {
  font-size: 1.35em;
  line-height: 2em;
  overflow: hidden;
  padding: 0.35em 0 0.35em;
  border: none;
}
#collection-5e4331f5383ee71bf8193c3e ol,
#collection-5e433289e1841065260285e6 ol,
#collection-5e4333f8f0d10522284cb551 ol,
#collection-5e39b9749234572a14d9b8aa ol,
#collection-5e39b9a59234572a14d9ca78 ol,
#collection-5e43425618e6e3448f09e57f ol,
#collection-5e4331f5383ee71bf8193c3e ul,
#collection-5e433289e1841065260285e6 ul,
#collection-5e4333f8f0d10522284cb551 ul,
#collection-5e39b9749234572a14d9b8aa ul,
#collection-5e39b9a59234572a14d9ca78 ul,
#collection-5e43425618e6e3448f09e57f ul {
  overflow: hidden;
}
#collection-5e4331f5383ee71bf8193c3e .sqs-block[class*=float-left],
#collection-5e433289e1841065260285e6 .sqs-block[class*=float-left],
#collection-5e4333f8f0d10522284cb551 .sqs-block[class*=float-left],
#collection-5e39b9749234572a14d9b8aa .sqs-block[class*=float-left],
#collection-5e39b9a59234572a14d9ca78 .sqs-block[class*=float-left],
#collection-5e43425618e6e3448f09e57f .sqs-block[class*=float-left] {
  margin-right: 42px;
}
#collection-5e4331f5383ee71bf8193c3e .sqs-block-content p,
#collection-5e433289e1841065260285e6 .sqs-block-content p,
#collection-5e4333f8f0d10522284cb551 .sqs-block-content p,
#collection-5e39b9749234572a14d9b8aa .sqs-block-content p,
#collection-5e39b9a59234572a14d9ca78 .sqs-block-content p,
#collection-5e43425618e6e3448f09e57f .sqs-block-content p {
  overflow: hidden;
}
#collection-5e4331f5383ee71bf8193c3e .sqs-block-content ol li p,
#collection-5e433289e1841065260285e6 .sqs-block-content ol li p,
#collection-5e4333f8f0d10522284cb551 .sqs-block-content ol li p,
#collection-5e39b9749234572a14d9b8aa .sqs-block-content ol li p,
#collection-5e39b9a59234572a14d9ca78 .sqs-block-content ol li p,
#collection-5e43425618e6e3448f09e57f .sqs-block-content ol li p,
#collection-5e4331f5383ee71bf8193c3e .sqs-block-content ul li p,
#collection-5e433289e1841065260285e6 .sqs-block-content ul li p,
#collection-5e4333f8f0d10522284cb551 .sqs-block-content ul li p,
#collection-5e39b9749234572a14d9b8aa .sqs-block-content ul li p,
#collection-5e39b9a59234572a14d9ca78 .sqs-block-content ul li p,
#collection-5e43425618e6e3448f09e57f .sqs-block-content ul li p {
  overflow: visible;
}
#collection-5e4331f5383ee71bf8193c3e .markdown-block,
#collection-5e433289e1841065260285e6 .markdown-block,
#collection-5e4333f8f0d10522284cb551 .markdown-block,
#collection-5e39b9749234572a14d9b8aa .markdown-block,
#collection-5e39b9a59234572a14d9ca78 .markdown-block,
#collection-5e43425618e6e3448f09e57f .markdown-block {
  overflow: hidden;
}
#collection-5e4331f5383ee71bf8193c3e div.sqs-block.quote-block.sqs-block-quote,
#collection-5e433289e1841065260285e6 div.sqs-block.quote-block.sqs-block-quote,
#collection-5e4333f8f0d10522284cb551 div.sqs-block.quote-block.sqs-block-quote,
#collection-5e39b9749234572a14d9b8aa div.sqs-block.quote-block.sqs-block-quote,
#collection-5e39b9a59234572a14d9ca78 div.sqs-block.quote-block.sqs-block-quote,
#collection-5e43425618e6e3448f09e57f div.sqs-block.quote-block.sqs-block-quote {
  padding-top: 0;
}
#collection-5e4331f5383ee71bf8193c3e div.sqs-block.quote-block.sqs-block-quote blockquote,
#collection-5e433289e1841065260285e6 div.sqs-block.quote-block.sqs-block-quote blockquote,
#collection-5e4333f8f0d10522284cb551 div.sqs-block.quote-block.sqs-block-quote blockquote,
#collection-5e39b9749234572a14d9b8aa div.sqs-block.quote-block.sqs-block-quote blockquote,
#collection-5e39b9a59234572a14d9ca78 div.sqs-block.quote-block.sqs-block-quote blockquote,
#collection-5e43425618e6e3448f09e57f div.sqs-block.quote-block.sqs-block-quote blockquote {
  padding-top: 0;
}
/*----------  MOBILE  ----------*/
@media screen and (max-width: 640px) {
  #collection-5e4331f5383ee71bf8193c3e .sqs-block[class*=float-left],
  #collection-5e433289e1841065260285e6 .sqs-block[class*=float-left],
  #collection-5e4333f8f0d10522284cb551 .sqs-block[class*=float-left],
  #collection-5e39b9749234572a14d9b8aa .sqs-block[class*=float-left],
  #collection-5e39b9a59234572a14d9ca78 .sqs-block[class*=float-left],
  #collection-5e43425618e6e3448f09e57f .sqs-block[class*=float-left],
  #collection-59e58334bff2008e8dfa4947 .sqs-block[class*=float-left] {
    margin-right: 0;
  }
}
/*=====  End of FINAL LANDING PAGES for SERVICES & BIO pages  ======*/
/*#endregion SERVICES & BIO PAGES */
/*#region old site stuff */
/*====================================================
=            SUMMARY BLOCKS AS PAGE TITLES            =
====================================================*/
/*----------  Remove links and restyle font (medium size)  ----------*/
/* #pages, #pages, #pages {...
   .summary-title > a { pointer-events: none; cursor: default;} */
/*=====  End of SUMMARY BLOCK AS PAGE TITLES  ======*/
/*=============================================
=            OLD HOME PAGE            =
=============================================*/
/* PAGE: Home Page
    News-Latest-Posts background colour */
#section-news-latest-posts {
  background-color: #F8F8F7 !important;
}
/* PAGE: Home Page
    HEALING WITH HERBS text header 
    links: remove underlines */
h2 a {
  border-bottom-style: none !important;
}
/* padding reduction */
#block-yui_3_17_2_5_1509555956994_4640 {
  margin-top: -30px !important;
  margin-bottom: -10px;
}
/* change only this h2 header link size */
#block-yui_3_17_2_5_1509555956994_4640 h2 {
  font-size: 133%;
}
/* change only on mobile  */
@media only screen and (max-width: 740px) {
  #block-yui_3_17_2_5_1509555956994_4640 h2 {
    font-size: 105%;
  }
  #block-yui_3_17_2_5_1509555956994_4640 {
    margin-top: -33px !important;
  }
}
/* PAGE: Healing Herbal Medicine
    links: remove underlines */
#block-yui_3_17_2_2_1508949894256_9134 h2 a,
#block-yui_3_17_2_2_1508949894256_9134 p a {
  border-bottom-style: none !important;
}
#block-yui_3_17_2_2_1508949894256_9134 p a {
  color: inherit !important;
}
/*=====  End of OLD HOME PAGE  ======*/
/*#endregion old site stuff */
/*#region BLOG POSTS & BLOG-LIST */
/*=============================================
=            BLOG POSTS  &  BLOG-LISTS        =
=============================================*/
.BlogItem {
  font-size: 1.2em;
  line-height: 1.6em;
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (max-width: 1024px) {
  .BlogItem {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 960px) {
  .BlogItem {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .BlogItem {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 640px) {
  .BlogItem {
    padding-left: 0;
    padding-right: 0;
  }
}
/* Blog List Filter Header */
.Main--blog-list {
  padding-top: 20px !important;
}
/*=====  End of BLOG-LIST  ======*/
/*#endregion BLOG-LIST */
/*#region SHOP */
/*=============================================
=            SHOP                             =
=============================================*/
/*----------  Hide Newsletter in footers on shop pages  ----------*/
/*=====  End of SHOP                   ======*/
/*#endregion SHOP */
/*#region TESTIMONIALS */
/*=============================================================
=            TESTIMONIAL SLIDER from SquareStud.io            =
=============================================================*/
.sqs-gallery-thumbnails.sqs-gallery-design-strip {
  left: 0 !important;
  width: auto !important;
}
.sqs-gallery-thumbnails.sqs-gallery-design-strip .sqs-wrapper {
  display: block !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  -moz-transform: translateX(-50%) !important;
  -webkit-transform: translateX(-50%) !important;
  float: left !important;
  width: auto !important;
}
.sqs-gallery-thumbnails.sqs-gallery-design-strip img {
  height: 10px !important;
  width: 10px !important;
  margin-right: 5px;
  border-radius: 100%;
  -webkit-filter: brightness(100) !important;
  -moz-filter: brightness(100) !important;
  -ms-filter: brightness(100) !important;
  filter: brightness(100) !important;
}
.sqs-gallery-block-slideshow:before {
  content: "x";
  font-size: 0px;
  height: 46px;
  width: 46px;
  background: url('https://images.squarespace-cdn.com/content/54dcf1f3e4b03174c3dc75f5/1456259968880-97CRMNG2HX9W2ZZK8P7Y/quotemarks.png?content-type=image%2Fpng');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  letter-spacing: -1px;
  display: block;
  position: absolute;
  text-align: center !important;
  width: 100% !important;
  top: 0 !important;
  filter: invert(100%) !important;
}
.sqs-gallery-block-slideshow {
  padding-top: 40px;
  background: none;
  max-height: 180px !important;
  overflow: hidden !important;
}
.sqs-gallery-block-slideshow .slide {
  max-height: 180px;
}
.sqs-gallery-block-slideshow .sqs-gallery-design-stacked-slide {
  overflow: hidden;
}
.sqs-gallery-block-slideshow .sqs-gallery-design-stacked-slide img {
  display: none;
}
.sqs-gallery-block-slideshow .meta {
  background: none !important;
  width: 60% !important;
  text-align: center;
  left: 50% !important;
  transform: translate(-50%, 0%) !important;
  -moz-transform: translate(-50%, 0%) !important;
  -ms-transform: translate(-50%, 0%) !important;
  -webkit-transform: translate(-50%, 0%) !important;
  top: 0px !important;
}
.sqs-gallery-block-slideshow .meta .meta-inside {
  padding: 0 !important;
  position: absolute;
  width: 80% !important;
  overflow: hidden !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.sqs-gallery-block-slideshow .meta .meta-title {
  color: #444;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 18px;
}
.sqs-gallery-block-slideshow .meta .meta-description p {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;
}
.sqs-gallery-block-slideshow .sqs-gallery-controls .previous,
.sqs-gallery-block-slideshow .sqs-gallery-controls .next {
  background: none;
  color: #888 !important;
  top: 40% !important;
  width: 10px !important;
  transition: all ease-in-out 400ms !important;
}
.sqs-gallery-block-slideshow .sqs-gallery-controls .previous:before,
.sqs-gallery-block-slideshow .sqs-gallery-controls .next:before {
  font-size: 16px;
}
.sqs-gallery-block-slideshow .sqs-gallery-controls .previous:hover,
.sqs-gallery-block-slideshow .sqs-gallery-controls .next:hover {
  background: none !important;
  color: #000 !important;
}
@media (min-width: 668px) and (max-width: 1024px) {
  .sqs-gallery-block-slideshow {
    max-height: 210px !important;
  }
  .sqs-gallery-block-slideshow .slide {
    max-height: 210px !important;
  }
  .sqs-gallery-block-slideshow .meta {
    display: block !important;
    max-width: 100% !important;
    height: 100% !important;
    width: 80% !important;
  }
}
@media (max-width: 667px) {
  .sqs-gallery-block-slideshow {
    max-height: 260px !important;
  }
  .sqs-gallery-block-slideshow .sqs-gallery-design-stacked {
    height: 260px !important;
  }
  .sqs-gallery-block-slideshow .slide {
    max-height: 260px !important;
  }
  .sqs-gallery-block-slideshow .meta {
    display: block !important;
    max-width: 100% !important;
    height: 100% !important;
    width: 100% !important;
  }
}
/*=====  End of TESTIMONIAL SLIDER from SquareStud.io  ======*/
/*============================================
=            TESTIMONIALS SECTION            =
============================================*/
#testimonials * {
  color: white !important;
}
#testimonials {
  margin-top: 6em;
  margin-bottom: 6em;
}
/* PAGE: Home Page
    old Newsletter box */
#subscribe-newsletter {
  padding-top: 16px !important;
}
/*=====  End of TESTIMONIALS SECTION  ======*/
/*#endregion TESTIMONIALS */
/*#region FOOTER TOP  NEWSLETTER FORM BLOCK */
/*=============================================
=       FOOTER TOP NEWSLETTER FORM BLOCK      =
=============================================*/
/*----------  Move padding from .Footer-inner to its children  ----------*/
div.Footer-inner.clear {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
div.Footer-blocks--middle {
  padding: 0px !important;
}
nav.Footer-nav {
  margin-right: 0px !important;
}
#footerBlocksMiddle div.row.sqs-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
#block-yui_3_17_2_1_1588199541873_5014 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
div#footerBlocksTop,
div.footerMiddle,
div#footerBlocksBottom,
div.Footer-nav-group {
  padding: 0px 74px;
}
@media screen and (max-width: 1024px) {
  div#footerBlocksTop,
  div.footerMiddle,
  div#footerBlocksBottom,
  div.Footer-nav-group {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media screen and (max-width: 960px) {
  div#footerBlocksTop,
  div.footerMiddle,
  div#footerBlocksBottom,
  div.Footer-nav-group {
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (max-width: 768px) {
  div#footerBlocksTop,
  div.footerMiddle,
  div#footerBlocksBottom,
  div.Footer-nav-group {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 640px) {
  div#footerBlocksTop,
  div#footerBlocksBottom {
    padding-left: 47px;
    padding-right: 47px;
  }
  div.Footer-middle {
    padding-left: 0;
    padding-right: 0;
  }
  div.Footer-nav-group {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
div.Footer-nav-group :nth-last-child(1) {
  padding-right: 0;
}
/*----------  Side-by-side fields  ----------*/
#footerBlocksTop {
  background-color: hsl(48, 100%, 68%) !important;
  padding-top: 0.9em !important;
  padding-bottom: 0.5em !important;
  /* change inherent margins above heading and subhead block  */
  /* remove sqs field labels above each field box */
  /* field contents font */
  /* Submit Button */
  /* margin below each field */
  /* margin above each field element */
  /* Form error colour */
}
#footerBlocksTop .sqs-block-form {
  padding-top: 0;
}
#footerBlocksTop div.Index-page-content {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
#footerBlocksTop h2 {
  font-family: 'Notera';
  font-size: 3em;
  line-height: 0.5em;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0em;
  margin-top: 0.25em;
  margin-bottom: 0em !important;
  text-transform: none;
  padding-top: 12px;
  color: #545454;
}
#footerBlocksTop p {
  color: #545454;
  font-size: 0.9rem;
}
#footerBlocksTop #block-yui_3_17_2_1_1588199541873_11029 p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
#footerBlocksTop label.title {
  display: none !important;
}
#footerBlocksTop form input.field-element {
  font-family: 'nunito-sans' !important;
  font-size: 0.9rem !important;
  border: none !important;
  border-radius: 0px !important;
  border: none;
  height: 45px;
}
#footerBlocksTop form input.button {
  font-weight: 700;
  font-size: 12.5px;
  background-color: hsl(164, 38%, 49%);
  height: 45px;
}
#footerBlocksTop .form-wrapper .field-list .field,
#footerBlocksTop .form-button-wrapper {
  margin-bottom: 12px !important;
}
#footerBlocksTop .form-wrapper .field-list .field-element {
  margin-top: 0px !important;
}
#footerBlocksTop .field-error {
  background: hsl(354, 85%, 65%) url('//assets.squarespace.com/universal/images-v6/standard/icon_close_7_light.png') no-repeat 9px 50%;
}
#footerBlocksTop div.form-submission-text p {
  text-align: center;
}
/*----------  DESKTOP only  -  fields side by side  ----------*/
@media only screen and (min-width: 769px) {
  #footerBlocksTop .form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  #footerBlocksTop .sqs-block-form {
    width: 100%;
  }
  #footerBlocksTop .field-list.clear {
    text-align: right;
    display: inline-block;
    width: 74.5%;
  }
  #footerBlocksTop .form-item.field.email,
  #footerBlocksTop .form-item.field.text {
    display: inline-block;
    min-width: 47%;
    text-align: left;
    margin: 0 0;
    margin-right: 1.5%;
  }
  #footerBlocksTop .form-item.field.email {
    min-width: 47%;
    margin-right: 1.5%;
  }
  #footerBlocksTop .form-button-wrapper {
    width: 25%;
    margin: 0;
    float: right;
    text-align: left;
  }
}
/*=====  End of FOOTER TOP NEWSLETTER FORM BLOCK  ======*/
/*#endregion FOOTER TOP NEWSLETTER FORM BLOCK */
/*#region  DESKTOP, TABLET & MOBILE ADJUSTMENTS  */
/*=============================================
=        DESKTOP, TABLET & MOBILE ADJUSTMENTS          =
=============================================*/
.Main-content {
  padding-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .Main-content {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 640px) {
  .Main-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 48px;
  }
}
/*----------  Fix spacing on Mobile nav menu  ----------*/
nav.Mobile-overlay-nav--secondary a.Mobile-overlay-nav-item:nth-child(1) {
  padding-top: 0 !important;
}
/*===End of DESKTOP, TABLET & MOBILE ADJUSTMENTS =====*/
/*#endregion  DESKTOP, TABLET & MOBILE ADJUSTMENTS  */
